.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }
  .carousel-inner img {
    width: 100%;
    height: 100%;
}

/* upto 767 width */

.paddingT{
    padding-top:10px;
}

.card-body{
	background-color:#FFFFFF;
}
.navbar{
    padding-left:0px !important;
}
.container{
    width: 100%;
    height: 100%;
}

/*For ImgGallery */
.col-sm-4{
    max-width:29.333% !important ;
}
@media (min-width: 576px) {
	.pc-vision {
		width:100%;
	}
}

