img{
    width:100%;
}
.carousel_dot-group{
    width:100%;
    position: absolute;
    bottom:77%;
    left: 50%;
    transform: translate(-50%, -50%);
}
button{
    border-radius:50%;
    padding:5px;
    margin:1px;
}