.pc-p1 {
    font-size: 16px;
    line-height: 1.8;
}
.pc-p1 {
    font-size: 16px;
    line-height: 1.8;
}
.pc-p2{
    color: #00A2E1;
    padding-top: 16px;
}
.pc-c1 {
    color: #00A2E1;
}
.pc-c2 {
    color: #fca200;
}
.pc-c3 {
    color: #90c63f;
    
}
.pc-c4 {
    color: #f34863;
}
.pc-c5 {
    color: #7e36ab;
}
.pc-c6 {
    color: #75757e;
    
}
