.pi-works-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 10px;
}
.pi-works-button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.pi-works-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 200ms;
}
.pi-works-overlay:target {
  visibility: visible;
  opacity: 1;
}
.pi-works-popup {
  padding: 25px;
  background: #fff;
  border-radius: 25px;
  width: 80%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pi-works-model1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  height: 100%;
}
.pi-works-model2  {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  height: 100%;
}
 img {
  width: 100%;
  height: 100%;
}
.pi-works-indicators {
  position: absolute;
  cursor: pointer;
  top: 40%;
  right: 2px;
}
.pi-works-dots {
  height: 15px;
  width: 15px;
  background: #bbb;
  border-radius: 50%;
  display: block;
  margin: 5px;
}
.pic1{
  grid-column:2/ span 4;
}