.modal-dialog {
    max-width: 835px !important;
 }
 .close{
    font-size: 3rem;
  }
  .d-flex{
    justify-content: space-between;
  }
.modal-header{
    padding: 0px 1rem !important;
}
.image-border > img{
border:6px solid #ccc;
}